.App {
  text-align: center;
}

.header {
  width: 100%;
  background-color: rgb(41, 41, 43);
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 1;
}

.content {
  margin: 0 auto;
  margin-top: 5rem;
  width: 65%;
  max-width: 90rem;
  background: rgb(255, 255, 255);
}


#go-top {
  position: fixed;
  top: calc(80% - 1.1rem);
  right: 0;
  color: rgb(235, 230, 235);
  padding: .3rem .9rem;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  background-color: rgb(41, 41, 43);
  z-index: 5;
}